In [5]:
import sqlite3

name = 'articleswsj_2023.db'
conn = sqlite3.connect(name)

c = conn.cursor()

# Table "articles_index"
c.execute('''CREATE TABLE IF NOT EXISTS articles_index (
          id INTEGER PRIMARY KEY AUTOINCREMENT, 
          
          year TEXT, 
          month TEXT, 
          day TEXT, 
          
          headline TEXT, 
          article_time TEXT,
          
          keyword TEXT,
          link TEXT, 
          
          scraped_at TEXT,
          scanned_status INTEGER)''')

# Table "article"
c.execute('''CREATE TABLE IF NOT EXISTS article (
                article_id INTEGER PRIMARY KEY AUTOINCREMENT,
                image_src TEXT,

                scanned_time TEXT,
                title TEXT,
                sub_title TEXT,


                corpus TEXT,
                index_id INTEGER,

                FOREIGN KEY(index_id) REFERENCES articles_index(id))''')


c.execute('''CREATE TABLE IF NOT EXISTS exploration (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          link TEXT,
          
          year TEXT, 
          month TEXT, 
          day TEXT, 
          page_num TEXT,
          
          checked_at TEXT,
          values_or_not INTEGER,
          count_articles INTEGER
          );
''')

conn.commit()
conn.close()

print("DB and tables created")

DB and tables created

In [8]:
# Test if the table exists

import sqlite3

DB_PATH = r"C:\Users\PC\Desktop\Masterarbeit\Code\WSJ\articleswsj_2023.db"

conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("üìã Tabellen in der DB:", tables)

if ('articles_index',) in tables:
    print("‚úÖ 'articles_index' existiert!")
else:
    print("‚ùå 'articles_index' NICHT gefunden!")

import pandas as pd
df = pd.read_sql_query("SELECT * FROM articles_index", conn)
conn.close()

print(df)

üìã Tabellen in der DB: [('articles_index',), ('sqlite_sequence',), ('article',), ('exploration',)]
‚úÖ 'articles_index' existiert!
      id  year month day                                           headline  \
0      1  2023     1   1     Brazil‚Äôs Lula Makes Remarkable Return to Power
1      2  2023     1   1  California Storm Floods Roads and Cuts Power a...
2      3  2023     1   1  Economy Week Ahead: Jobs Report, Fed Minutes i...
3      4  2023     1   1        Trump‚Äôs Tax Law Echoed Through His Finances
4      5  2023     1   1  Can Southwest Airlines Buy Back Its Customers‚Äô...
..   ...   ...   ...  ..                                                ...
261  262  2023     1  12  FAA Cites Personnel Failure in System Outage T...
262  263  2023     1  12  Southwest Airlines to Revamp Crew Scheduling S...
263  264  2023     1  12  Activist Investor Nelson Peltz to Disney‚Äôs New...
264  265  2023     1  12  Hur Brings Experience With Political Pressure ...
265  266  2023     1  12  Special Counsel Named to Investigate Biden Doc...

    article_time   keyword                                               link  \
0     5:54 PM ET       N/A  https://www.wsj.com/articles/brazils-lula-make...
1     3:29 PM ET       N/A  https://www.wsj.com/articles/california-storm-...
2     3:00 PM ET       N/A  https://www.wsj.com/articles/economy-week-ahea...
3     1:24 PM ET       N/A  https://www.wsj.com/articles/trumps-tax-law-ec...
4    10:56 AM ET       N/A  https://www.wsj.com/articles/southwest-airline...
..           ...       ...                                                ...
261   9:34 PM ET  business  https://www.wsj.com/articles/faa-says-personne...
262   7:25 PM ET  business  https://www.wsj.com/articles/southwest-airline...
263   6:14 PM ET  business  https://www.wsj.com/articles/activist-investor...
264   5:23 PM ET  politics  https://www.wsj.com/articles/robert-hur-brings...
265   4:32 PM ET  politics  https://www.wsj.com/politics/national-security...

              scraped_at  scanned_status
0    2025-05-13 16:01:10               0
1    2025-05-13 16:01:10               0
2    2025-05-13 16:01:10               0
3    2025-05-13 16:01:10               0
4    2025-05-13 16:01:10               0
..                   ...             ...
261  2025-05-13 16:31:17               0
262  2025-05-13 16:31:17               0
263  2025-05-13 16:31:17               0
264  2025-05-13 16:31:17               0
265  2025-05-13 16:31:17               0

[266 rows x 10 columns]

In [9]:
df["date"] = pd.to_datetime(df["year"] + "-" + df["month"] + "-" + df["day"])
df["date"] = df["date"].dt.strftime("%Y-%m-%d")

df.groupby("date").size().reset_index(name="counts")

          date  counts
0   2023-01-01      98
1   2023-01-02      30
2   2023-01-03      25
3   2023-01-04      18
4   2023-01-05      14
5   2023-01-06      18
6   2023-01-07      10
7   2023-01-08       8
8   2023-01-09      15
9   2023-01-10      13
10  2023-01-11      10
11  2023-01-12       7